.shell {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.detail {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.loadingWrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
